    .daily-report-table {
        width: 100%;
        border-collapse: collapse;
        font-size: 10px;
        font-family: '{{ $fontFamily }}',
        sans-serif !important;
    }

    .daily-report-table td,
    .daily-report-table th {
        vertical-align: top;
    }

    .daily-report-table strong {
        font-weight: 300;
        font-size: 12px;
    }

    .table-responsive {

        font-size: 12px;
    }