    html {
        font-family: "Poppins", "Times New Roman", serif;
    }

 a, li{
    font-size: 12px;
 }

 .layout-wrapper:not(.layout-horizontal) .bg-menu-theme .menu-inner .menu-item .menu-link {

    font-size: 12px;
}